.login-span {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: fit-content;
    height: 95vh;
}

.login-section {
    background-color: #f5ee2d;
    border-radius: 1rem;
    width: calc(100vw - 2rem);
    padding: 0rem;
}